In [2]:
import pandas as pd

In [3]:
dataset_path = '../data/'

pollen_test = pd.read_csv(dataset_path + 'pollen_test.csv')
pollen_train = pd.read_csv(dataset_path + 'pollen_train.csv')
pollen_type = pd.read_csv(dataset_path + 'pollen-type.csv')
submission_example = pd.read_csv(dataset_path + 'submission_example.csv')
weather_data = pd.read_csv(dataset_path + 'weather_data.csv')

## Pollen type

In [4]:
pollen_type.head()

   ID_VRSTE IME_VRSTE_LAT IME_VRSTE_SRB GRUPA_BILJAKA  ALERGENI_POTENCIJAL
0         1          Acer         Javor        Drveće                    0
1         2         Alnus          Jova        Drveće                    2
2         3      Ambrosia     Ambrozija        Korovi                    2
3         4     Artemisia         Pelin        Korovi                    1
4         5        Betula         Breza        Drveće                    2

In [5]:
# drop ime_vrste_lat and ime_vrste_srb

pollen_type = pollen_type.drop(['IME_VRSTE_LAT', 'IME_VRSTE_SRB'], axis=1)

In [6]:
pollen_type.head()

   ID_VRSTE GRUPA_BILJAKA  ALERGENI_POTENCIJAL
0         1        Drveće                    0
1         2        Drveće                    2
2         3        Korovi                    2
3         4        Korovi                    1
4         5        Drveće                    2

In [7]:
# for each group in GRUPA_BILJAKA see values of ALERGENI_POTENCIJAL

pollen_type.groupby('GRUPA_BILJAKA').ALERGENI_POTENCIJAL.value_counts()

GRUPA_BILJAKA  ALERGENI_POTENCIJAL
Drveće         0                      8
               1                      7
               2                      2
Korovi         1                      4
               2                      2
               0                      1
Trave          2                      1
Name: ALERGENI_POTENCIJAL, dtype: int64

## Weather Data

In [8]:
weather_data.head()

,Unnamed: 0,location,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,0,КРАГУЈЕВАЦ,2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,КРАГУЈЕВАЦ,2016-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,КРАГУЈЕВАЦ,2016-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,КРАГУЈЕВАЦ,2016-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,КРАГУЈЕВАЦ,2016-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# check NaN by column

weather_data.isnull().sum()

Unnamed: 0        0
location          0
date              0
tavg           1771
tmin           1793
tmax           1788
prcp           9181
snow          17492
wdir           5832
wspd           3892
wpgt          10974
pres           4142
tsun          17899
dtype: int64

## Submission example

In [11]:
submission_example.head()

   batch_id  1 day prediction  2 days prediction  3 days prediction
0         1                 0                  0                  0
1         2                 0                  0                  0
2         3                 0                  0                  0
3         4                 0                  0                  0
4         5                 0                  0                  0